{% assign layer = include.content.layer %}
{% assign header = include.content.title | escape %}
{% assign header = include.content.title | escape %}
{% if include.content.description == empty %}
		{% assign desc = '' %}
{% else %}
		{% assign desc = include.content.description | escape | prepend: "<br>" %}
{% endif %}

{% assign my_target = layer | prepend: "layers['" | append: "']['layer']" %}

{%- for coord in include.content.latlng %}
		L.marker(
				[{{ coord }}],
				{'icon': layers['{{ layer }}']['icon']})
				.bindPopup("Loading...")
				.on('click', function(e){
						ajaxpopup(e, '{{ include.content.url }}')})
				.addTo({{ my_target }});
{%- endfor -%}


