{% assign layer = include.content.layer %}
{% assign title = include.content.title %}

{% if include.content.description == empty %}
		{% assign desc = '' %}
{% else %}
		{% assign desc = include.content.description | escape | prepend: "<br>" %}
{% endif %}

{% assign my_target = layer | prepend: "layers['" | append: "']['layer']" %}

{%- for coord in include.content.latlng %}
		L.marker(
				[{{ coord }}],
				{'icon': layers['{{ layer }}']['icon']})
				.bindPopup("")
				.bindTooltip("{{ title }}")
				.on('click', function(e){
						data = {
								'title': '{{ title | url_encode }}',
								'coord': '{{ coord }}',
								'md_url': '{{ include.content.url }}'
						}
						ajaxpopup(e, data);
				})

				.addTo({{ my_target }});
{%- endfor -%}


