<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

		{%- include head.html -%}
		<body>

				<!-- a plain ol' map -->
				<div id="map"></div>

				<!-- Download button -->
				<div class="modaldialog" id="dialog-download" title="Download KML">
						<p>Download the contents of this site as a .kml file <a href="/feed.kml" target="_blank">here</a>.</p>
				</div>

				<!-- About button -->
				<div class="modaldialog" id="dialog-about" title="About">
						<p>{{ site.description | escape }}</p>
						<p>Curated by <a href="http://heavyimage.com">Jesse Spielman</a>, with plenty of suggestions from friends!</p>
						<p>Extra infoformation / photos via <a href="https://developer.foursquare.com/places-api">Foursquare's</a> Places API</p>
				</div>

		</body>
		<!-- Add locations! -->
		<script>
				{%- include leaflet.html -%}
				{%- for item in site.locations -%}
						{%- include location_to_js.html content=item -%}
				{%- endfor -%}
		</script>
</html>
