---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

		<!-- The Map -->
		<div id="map" style="height: 600px;" >
				{% include leaflet.html %}
		</div>

		<!-- Add waypoints! -->
		<script>
		{% for item in site.waypoints %}
				{% assign lat = item.latlng[0] %}
				{% assign lng = item.latlng[1] %}
				{% assign layer = item.layer %}
				{% assign header = item.title | escape %}
				{% assign header = item.title | escape %}

				{% if item.description == empty %}
						{% assign desc = '' %}
				{% else %}
						{% assign desc = item.description | escape | prepend: "<br>" %}
				{% endif %}

				L.marker(
						[{{ lat }}, {{ lng }}], 
						{'icon': layers['{{layer}}']['icon']})
				.bindPopup("<a href='{{item.url}}'><strong>{{ header }}</strong></a>{{ desc }}").addTo(layers['{{ layer }}']['layer']);
		{% endfor %}
		</script>
</div>
